@font-face {
    font-family: main;
    src: url(AlteHaasGroteskRegular.ttf);
}

@font-face {
    font-family: main-bold;
    src: url(AlteHaasGroteskBold.ttf);
}

@font-face {
    font-family: overwatch;
    src: url(big_noodle_titling.ttf);
}

@font-face {
    font-family: overwatch-italic;
    src: url(big_noodle_titling_oblique.ttf);
}

body{
    background-color: #111;
    padding: 0;
    margin: 0;
    overflow: hidden;
    color: white;
    font-size: 1.1em;
    font-family: main;
    line-height: 1.6;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.base-scene{
    background-size: cover;
}

.characters{
    width: 100%;
    height: 100%;
}

div.character{
    position: absolute;
}

img.character{
    position: absolute;
    height: 100%;
}

.textbox{
    position: fixed;
    background-color: rgba(0,0,0,0.666);
    box-shadow: 0px -4px 10px 4px rgba(0,0,0,0.666);
}

.textbox-inner{
    border-color: white;
    border-style: solid;
    border-radius: 4px;
    padding-left: 10%;
    padding-right: 10%;
}

.textbox-inner{
    display: flex;
}

.text-option.textbox-inner{
    flex-flow: row wrap;
}

.textbox.dialogue,
.textbox.narration {
    cursor: pointer;
}

.textbox-speaker{
    padding-right: 20px;
    text-transform: uppercase;
    text-align: right;
}

.textbox-speaker{
    min-width: 100px;
    max-width: 100px;
}

.textbox-speaker::after{
    content: ":";
}

.narration.text{
    text-align: center;
    width: 100%;
}

.narration.textbox-inner,
.text-option{
    align-items: center;
}

.options.option-outer,
.text-option.text{
    padding-bottom: 0.8em;
}

.options.option-inner::before{
    content: "- ";
}

.options.option-inner{
    cursor: pointer;
    color: #AAA;
}

.options.option-inner:hover{
    color: #FFF;
}

.just-characters{
    cursor: pointer;
}

.title-screen.menu-container{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.outer-container{
    font-family: overwatch-italic;
    font-size: 1.65em;
}

.title{
    font-family: overwatch;
    font-style: italic;
    font-size: 2.5em;
    line-height: 1.4;
    padding-left: 0.3em;
}

span.symmetra{
    color: #FFE300;
}

.title-screen .menu{
    background-color: #EC36BB;
    display: flex;
    padding: 0 0.75em;
    width: 100%;
}

.inner-container, .inner-text{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.outer-container{
    margin-left: auto;
}

.inner-container{
    height: 100%;
    width: 100%;
}

.inner-container:last-child{
    margin-right: 2em;
}

.inner-text{
    width: 100%;
}

.inner-container .menu-text{
    margin: 0 1.5em;
}

.inner-container .menu-text:hover{
    color: #FFE300;
    cursor: pointer;
}

.inner-container .menu-text.disabled:hover{
    color: #EC36BB;
    cursor: default;
}

.inner-container .menu-text.disabled{
    color: #EC36BB;
}

.arrow, .inner-container .menu-text.disabled:hover .arrow{
    font-size: 0.5em;
    padding-right: 0.3em;
    color: #EC36BB;
}

.inner-container .menu-text:hover .arrow{
    color: #FFE300;
}

.loading-outer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.loading-inner{
    margin: 2em 4em;
    width: 100%;
}

.loading-screen{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}

.loading-screen-text{
    font-family: overwatch-italic;
    font-size: 3em;
}

.loading-screen-text .dark{
    color: #111;
}

.loading-screen img{
    padding-right: 1em;
}
