@font-face {
    font-family: main;
    src: url(AlteHaasGroteskRegular.ttf);
}

@font-face {
    font-family: reaper;
}

@font-face {
    font-family: main-bold;
    src: url(AlteHaasGroteskBold.ttf);
}

@font-face {
    font-family: overwatch;
    src: url(big_noodle_titling.ttf);
}

@font-face {
    font-family: overwatch-italic;
    src: url(big_noodle_titling_oblique.ttf);
}

body{
    background-color: #111;
    padding: 0;
    margin: 0;
    overflow: hidden;
    color: white;
    font-family: main;
    line-height: 2;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.miranda.fast-forward-button{
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    right: 2.5em;
    margin: .5em;
    z-index: 100;
    background-image: url("../img/Main_Menu/ff.png");
    background-size: cover;
}

.miranda.fast-forward-button:hover{
    cursor: pointer;
    background-image: url("../img/Main_Menu/ffHover.png");
}

.miranda.fast-forward-button:active{
    cursor: pointer;
    background-image: url("../img/Main_Menu/ffActive.png");
}

.miranda.mute-button{
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    right: 0em;
    margin: .5em;
    z-index: 100;
    background-image: url("../img/Main_Menu/muted.png");
    background-size: cover;
}

.miranda.mute-button:hover{
    cursor: pointer;
    background-image: url("../img/Main_Menu/mutedHover.png");
}

.miranda.mute-button.not-muted {
    background-image: url("../img/Main_Menu/notMuted.png");
}
x``
.miranda.mute-button.not-muted:hover {
    background-image: url("../img/Main_Menu/notMutedHover.png");
}

.miranda.full-screen-button{
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    right: 7.5em;
    margin: .5em;
    z-index: 100;
    background-image: url("../img/Main_Menu/fullscreen.png");
    background-size: cover;
}

.miranda.menu-button{
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    right: 5em;
    margin: .5em;
    z-index: 100;
    background-image: url("../img/Main_Menu/menuButton.png");
    background-size: cover;
}

.miranda.full-screen-button:hover{
    cursor: pointer;
    background-image: url("../img/Main_Menu/fullscreenHover.png");
}

.miranda.menu-button:hover{
    cursor: pointer;
    background-image: url("../img/Main_Menu/menuButtonHover.png");
}

.base-scene{
    background-size: cover;
    overflow: hidden;
}

.characters{
    width: 100%;
    height: 100%;
}

div.character{

}

img.character{

}

.textbox{
    background-color: rgba(0,0,0,0.666);
    box-shadow: 0px 1px 8px 4px rgba(0,0,0,0.666);
    border-radius: 4px;
}

.textbox-inner{
    border-color: white;
    border-style: solid;
    border-radius: 4px;
    box-shadow: 0px 1px 0px 3px rgba(0,0,0,0.666);
    padding: 0 5%;
}

.textbox-inner{
    display: flex;
}

.text-option.textbox-inner{
    flex-flow: row wrap;
}

.textbox.dialogue,
.textbox.narration {
    cursor: pointer;
}

.textbox-speaker{
    padding-right: 1.5em;
    text-transform: uppercase;
    text-align: right;
}

.textbox-speaker{
    min-width: 8em;
    max-width: 8em;
}

.textbox-speaker::after{
    content: ":";
}

.narration.text{
    text-align: center;
    width: 100%;
}

.narration.textbox-inner,
.text-option{
    align-items: center;
}

.options.option-outer,
.text-option.text{

}

.options.option-inner::before{
    content: "- ";
}

.options.option-inner{
    cursor: pointer;
    color: #AAA;
}

.options.option-inner:hover{
    color: #FFF;
}

.just-characters{
    cursor: pointer;
}

.title-screen.menu-container{
    position: absolute; /*investigate whether this should be pulled into cljs*/
    width: 100%;
}

.outer-container{
    font-family: overwatch-italic;
    font-size: 1.3em;
}

.title{
    font-family: overwatch;
    font-style: italic;
    font-size: 2.2em;
    line-height: 1.4;
    padding-left: 0.3em;
}

span.symmetra{
    color: #FFE300;
}

.title-screen .menu{
    background-color: #EC36BB;
    display: flex;
    padding: 0 0.75em;
    width: 100%;
}

.inner-container, .inner-text{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.outer-container{
    margin-left: auto;
}

.inner-container{
    height: 100%;
    width: 100%;
}

.inner-container:last-child{
    margin-right: 2em;
}

.inner-text{
    width: 100%;
}

.inner-container .menu-text{
    margin: 0 1.5em;
}

.inner-container .menu-text:hover{
    color: #FFE300;
    cursor: pointer;
}

.inner-container .menu-text.disabled:hover{
    color: #EC36BB;
    cursor: default;
}

.inner-container .menu-text.disabled{
    color: #EC36BB;
}

.arrow, .inner-container .menu-text.disabled:hover .arrow{
    font-size: 0.5em;
    padding-right: 0.3em;
    color: #EC36BB;
}

.inner-container .menu-text:hover .arrow{
    color: #FFE300;
}

.loading-outer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.loading-inner{
    margin: 2em 4em;
    width: 100%;
}

.loading-screen{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}

.loading-screen-text{
    font-family: overwatch-italic;
    font-size: 3em;
}

.loading-screen-text .dark{
    color: #111;
}

.loading-screen img{
    padding-right: 1em;
}

.loading-inner, .loading-outer{
    background-color: #111;
}

.ana{
    border-color:  #95a7b7;
}
.bastion{
    border-color:  #638649;
}
.doomfist{
    border-color:  #89423c;
}
.dva{
    border-color:  #e63d9c;
}
.efi{
    border-color:  #c8a71f;
}
.genji{
    border-color:  #3ce62f;
}
.hanzo{
    border-color:  #3f5d8a;
}
.junkrat{
    border-color:  #f18c38;
}
.lucio{
    border-color:  #a6e921;
}
.mccree{
    border-color:  #b3443f;
}
.mei{
    border-color:  #065bfc;
}
.mercy{
    border-color:  #e9ce4f;
}
.moira{
    border-color:  #4d1a1f;
}
.orisa{
    border-color:  #b4b94f;
}
.pharah{
    border-color:  #2961b5;
}
.reaper{
    border-color:  #150a21;
    text-transform: uppercase;
}
.reinhardt{
    border-color:  #7b8384;
}
.roadhog{
    border-color:  #ddd76d;
}
.soldier-76{
    border-color: #4660a7;
}
.sombra{
    border-color:  #a653f9;
}
.symmetra{
    border-color:  #3bb9fd;
}
.torbjorn{
    border-color:  #ac3e2c;
}
.tracer{
    border-color:  #fead17;
}
.widowmaker{
    border-color:  #99a7d4;
}
.winston{
    border-color:  #e2dfd4;
}
.zarya{
    border-color:  #ff73c1;
}
.zenyatta{
    border-color:  #ceac53;
}

.fadeout {
    background-color: black;
    position: absolute;
    z-index: 200;
}

.menu-holder {
    position: absolute;
    overflow: hidden;
}

.fadeout.menu {
    background-image: url("../img/Main_Menu/menuPink.png");
    background-size: cover;
}

.sym-hand {
    background-image: url("../img/Menu_Hand/menuHand.png");
    background-size: cover;
    position: absolute;
    z-index: 300;
}

p.notice-head {
    font-weight: bold;
    letter-spacing: 2px;
}

p.notice-hr {
    margin-bottom: "1em";
}

p.notice-text {
    padding-bottom: 3em;
    width: 66%;
    margin: auto;
}

.hand-menu {
    font-size: 2em;
}

.hand-menu.main-menu {
    cursor: pointer;
    background-image: url("../img/Menu_Hand/_mainMenu.png");
    background-size: cover;
}

.hand-menu.back-to-game{
    cursor: pointer;
    background-image: url("../img/Menu_Hand/_back.png");
    background-size: cover;
}

.hand-menu.main-menu:hover {
    background-image: url("../img/Menu_Hand/_mainMenuHover.png");
}

.hand-menu.back-to-game:hover{
    background-image: url("../img/Menu_Hand/_backHover.png");
}
